@import "https://fonts.googleapis.com/css?family=Nunito:300,400,600,700";
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  min-height: 100%;
}
html,
body {
  min-height: 100%;
  width: 100%;
    overflow: hidden;
}
.centered{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.scroll{
    margin-top: 3px !important;
    font-size: 13px !important;
    color: #b5b5b5 !important;
}
#result{
    color: #4b74ff;
    margin-top: 30px;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
    height: 100px;
    overflow-y: scroll;
    -webkit-box-shadow: inset 0px -1px 44px -9px rgba(217,217,217,1);
-moz-box-shadow: inset 0px -1px 44px -9px rgba(217,217,217,1);
box-shadow: inset 0px -1px 44px -9px rgba(217,217,217,1);
}
a{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
}
img{
        width: 200px;
}
p{
    color: #53586B;
}
button{
    background: #4B74FF;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(75, 116, 255, 0.66);
    padding: 0.5rem 1.5rem;
    margin-top: 0.4rem;
    transition: all .3s ease-in-out;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    width: 130px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
button:hover{
    background: #4B74FF;
    color: #FFFFFF;
    border-color: #4B74FF;
    box-shadow: 0 5px 10px rgba(75, 116, 255, 0.66);
}